.footer 
 //- 1
 .footer__logo 
  img(src="/img/logo-green.png", alt="Natours logo")

 //- 2
 ul.footer__nav 
  li: a(href="#") About us 
  li: a(href="#") Download apps 
  li: a(href="#") Become a guide
  li: a(href="#") Careers
  li: a(href="#") Contact 

  //- here semicolon indicates the <li> is parent element to the <a> element 
  //- note justify-content : flex-end;